              <form method="post" action="/tests/testQuestions">
                <div class="row">
                  <div class="form-group col-md-6">
                    <label for="form1-name" class="col-form-label">Question</label>
                    <input type="text" class="form-control" id="question" name="question" placeholder="Question">
                    <label for="form1-name" class="col-form-label">Option A</label>
                    <input type="text" class="form-control" id="optiona" name="optiona" placeholder="Option A">
                    <label for="form1-name" class="col-form-label">Option B</label>
                    <input type="text" class="form-control" id="optionb" name="optionb" placeholder="Option B">
                    <label for="form1-name" class="col-form-label">Option C</label>
                    <input type="text" class="form-control" id="optionc" name="optionc" placeholder="Option C">
                    <label for="form1-name" class="col-form-label">Option D</label>
                    <input type="text" class="form-control" id="optiond" name="optiond" placeholder="Option D">
                    <br>

                    <label for="form1-name" class="col-form-label">Correct Answer</label>
                    <input type="text" class="form-control" id="correctanswer" name="correctanswer" placeholder="Correct Ans">
                    <br>

                   


                  </div>
                </div>
                 <div class="mb-5">
          <!-- Trigger -->
          <button name="next" value="next" class="btn btn-primary btn-pill btn-lg d-table ml-auto mr-auto" data-toggle="modal" data-target="#exampleModal">
            Next Q
          </button><br/>
          <button type="submit" name="submit" value="submit" class="btn btn-primary btn-pill btn-lg d-table ml-auto mr-auto" data-toggle="modal" data-target="#exampleModal">
            Submit
          </button>
      </div>
              </form>